body{
    background-color: black;
    color: white;
}


/* Div1 */
#U367P1D01T1{
    border-radius: 10px;
    padding: 3px 20px;
    border: 2px solid gray;
    animation: glowN2 1s linear infinite;
}
@keyframes glowN2{
    50%{
        border-color: rgb(255, 0, 85);
    }

    100%{
        border-color: rgb(23, 20, 185);
    }
}

#U367P1D01N1{
    color: rgb(255, 0, 85);
    font-weight: bold;
    animation: glowN1 2s linear infinite;
    cursor: pointer;
}
@keyframes glowN1{
    25%{
        color: rgb(80, 134, 233);
    }
    50%{
        color: rgb(80, 134, 233);
    }

    100%{
        color: rgb(255, 0, 85);
    }
}

.U367P1L1{
    border-bottom: 1px solid rgb(255, 0, 85);
    border-top: 1px solid rgb(80, 134, 233);
}

#U367P2D2OUT{
    max-width: 500px;
    height: 380px;
    border-radius: 10px;
    border: 2px solid rgb(153, 255, 133);
    animation: glowDN2 1s linear infinite;
}

#U367B1{
    width: 135px;
    height: 135px;
    background-image: url(Images/U1.jpg);
    margin-top: 10px;
    background-size: 135px;
    border-radius: 50%;
}

#U367SpinP1{
    width: 135px;
    height: 135px;
    border-top: 5px solid rgb(0, 81, 255);
    border-bottom: 5px solid red;
    border-radius: 50%;
    animation: RotateP1SPP 1.5s linear infinite;
}
@keyframes RotateP1SPP
{
    100%{
        transform: rotate(360deg);
        border-top-color: red;
        border-bottom-color: rgb(0, 81, 255);
    }
}

#U367UN1{
    font-size: 25px;
    font-weight: bold;
    color: chartreuse;
    animation: ChangeC1N 2s linear infinite;
}
@keyframes ChangeC1N{
    100%{
        color: rgb(0, 255, 242);
    }
}

#U367C1{
    font-size: 19px;
}

